{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}

    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'perfil/css/gerenciar.css' %}" rel="stylesheet">
    <link href="{% static 'extrato/css/view_extrato.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}

    <div class="container">
        <br>
        <br>
        <p class="fonte-destaque">Definir planejamento</p>
        <div class="card">
        
            <table>
                <tr>
                    <th>category</th>
                    <th>Valor</th>
                    <th>Ação</th>
                </tr>

                {% for category in categories %}
                    <tr class="linha">
                        <td>{{category}}</td>
                        <td><input type="text" id="category-value-{{category.id}}" class="form-control" value="{{category.planning_value}}"></td>
                        <td><button onclick="update_value({{category.id}})" style="width: 100%;" class="botao-secundario">Salvar</button></td>         
                    </tr>
                {% endfor %}
                

            </table>
        

        </div>
    </div>

    <script>

      function update_value(id){
          value = document.getElementById('category-value-'+id).value
          
          fetch("/planejamento/update_valor_categoria/"+id, {
              method: 'POST',
              headers: {
                  "Content-Type": "application/json",
                  
              },
              body: JSON.stringify({new_value: value})
              
          }).then(function(result){
              return result.json()

          }).then(function(data){
              console.log(data)

          })

      }

    </script>



{% endblock %}